<div class="container">
  <div class="row">
    <h1>Add review</h1>
      <%= render 'form', review: @review , class: 'btn btn-primary' %>
<br>
      <%= link_to 'Back', restaurant_reviews_path ,class: 'btn btn-primary' %>
  </div>
</div>
